<div class = "container">
<table style = "width:50%">
</tbody>
<tr>

<% for i in 0...@seats.length do %>
<td>
<div class = "container">
<table class = "table table-bordered" style = "width:20%">
  <tbody>
    <% for j in 0...@seats[i].length do %>
  <tr>
    <% for k in 0...@seats[i][j].length do %>
    <td style = "width:5%"><%=@seats[i][j][k] %></td>
    <% end %>
  </tr>
  <% end %>
</tbody>
</table>
</div>
</td>
<% end %>

</tr>
</tbody>
</table>
</div>
